Repository dejohansson/casebound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, CI/CD, literalclub

Update readme integrations table
  README.md
Labels: documentation

Update README integrations table (#107)
  README.md
Labels: documentation

test pr labels
  .github/workflows/eslint.yml
  README.md
  package.json
  src/literal/models/queryReviewsData.ts
Labels: documentation, dependencies, CI/CD, literalclub

Allow Dependabot to update all direct dependencies
  .github/dependabot.yml
Labels: CI/CD

Allow Dependabot to update all direct dependencies (#116)
  .github/dependabot.yml
Labels: CI/CD

Only auto approve dependabot PR's if minor or patch update
  .github/workflows/dependabot-approve-and-auto-merge.yml
Labels: CI/CD

Only auto approve dependabot PR's if minor or patch update (#123)
  .github/workflows/dependabot-approve-and-auto-merge.yml
Labels: CI/CD

Prevent Dependabot PRs getting stuck when target branch is updated
  .github/workflows/dependabot-approve-and-auto-merge.yml
Labels: CI/CD

Prevent Dependabot PRs getting stuck when target branch is updated (#152)
  .github/workflows/dependabot-approve-and-auto-merge.yml
Labels: CI/CD

Upgrade typescipt to v5 and @types/node to v20
  package-lock.json
  package.json
  tsconfig.config.json
  tsconfig.json
Labels: dependencies

Upgrade typescript to v5 and @types/node to v20 (#153)
  package-lock.json
  package.json
  tsconfig.config.json
  tsconfig.json
Labels: dependencies

Improve RegExp performance
  src/components/BookItem.vue
Labels: none

Refactor for readability
  src/components/BookItem.vue
Labels: none

Improve RegExp performance (#155)
  src/components/BookItem.vue
Labels: none

Avoid approving dependabot PRs for major version 0
  .github/workflows/dependabot-approve-and-auto-merge.yml
Labels: CI/CD

Avoid approving dependabot PRs for major version 0 (#156)
  .github/workflows/dependabot-approve-and-auto-merge.yml
Labels: CI/CD

Upgrade Prettier to v3
  package-lock.json
  package.json
  src/App.vue
  src/components/BookItem.vue
  src/helpers.ts
  src/injectionKeys.ts
  src/literal/literalApiClient.ts
Labels: dependencies, literalclub

Upgrade Prettier to v3 (#157)
  package-lock.json
  package.json
  src/App.vue
  src/components/BookItem.vue
  src/helpers.ts
  src/injectionKeys.ts
  src/literal/literalApiClient.ts
Labels: dependencies, literalclub

Make animation speed prop reactive
  src/components/BookItem.vue
Labels: none

Make animation speed prop reactive (#164)
  src/components/BookItem.vue
Labels: none

Update dependabot worflow variables
  .github/workflows/dependabot-approve-and-auto-merge.yml
Labels: CI/CD

Update dependabot worflow variables (#177)
  .github/workflows/dependabot-approve-and-auto-merge.yml
Labels: CI/CD

Bump actions/checkout to v4
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/eslint.yml
  .github/workflows/sonarcloud.yml
Labels: CI/CD

Bump actions/checkout to v4 (#186)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/eslint.yml
  .github/workflows/sonarcloud.yml
Labels: CI/CD

Bump vite to 4.5.1
  package-lock.json
  package.json
Labels: dependencies

Bump Vite to 4.5.1 (#252)
  package-lock.json
  package.json
Labels: dependencies

Add Hardcover library source integration
  src/App.vue
  src/app-props.ts
  src/components/BookItem.vue
  src/injectionKeys.ts
  src/integrations/hardcover/hardcoverApiClient.ts
  src/integrations/hardcover/models/book.ts
  src/integrations/hardcover/models/image.ts
  src/integrations/hardcover/models/me.ts
  src/integrations/hardcover/models/user-book.ts
  src/integrations/hardcover/models/user.ts
  src/integrations/literal/literalApiClient.ts
  src/integrations/literal/models/book.ts
  src/integrations/literal/models/booksByReadingStateAndProfileData.ts
  src/integrations/literal/models/booksByReadingStateAndProfileVariables.ts
  src/integrations/literal/models/queryReviewsData.ts
  src/integrations/literal/models/queryReviewsVariables.ts
  src/integrations/literal/models/readingStatus.ts
  src/integrations/literal/models/review.ts
  src/main.ts
Labels: none

update deps
  package-lock.json
  package.json
Labels: dependencies

Add lively props
  lively/LivelyProperties.json
  src/App.vue
  src/app-props.ts
  src/main.ts
Labels: none

Bump majors
  .gitignore
  package-lock.json
  package.json
  src/components/BookItem.vue
  tsconfig.config.json
  tsconfig.json
Labels: dependencies

Bump CI node version to 22
  .github/workflows/sonarcloud.yml
Labels: CI/CD

.github/labeler.yml:

documentation:
  - "**/*.md"

dependencies:
  - "package.json"
  - "package-lock.json"

CI/CD:
  - ".github/**/*"

literalclub:
  - "src/literal/**/*"
